/* sttling for the entire boby of the documen */
body {
    font-family: arial sans-serif;/*set fron family */
    background-color:red;/*Daek beown background */
    color: azure;/*Gold text color */
    margin: 0;/*Resetting padding */
    padding:0;/*Resetting padding */
}
/*styling for a container element that wraps content*/
.container {
max-width: 1200px;
marker: 0 auto;
padding: 0 20px;
}
/* styling for the navigation bar */
nav {
    top:0;
    background-color:burlywood;
    padding:20px 0;
}
/* styling for the heading within the navigation bar */
nav h1{
    margin: 0;
    display: inline;
}
/* styling for the unordered list within the navingation bar */
nav u1 {
    list-style-type: none;
    margin: 0;
    float:right;
}
/* styling for the items within the navingation bar */
nav u1 li {
    display: inline;
    margin-left: 30px;
}
/* styling for links within the navingation bar */
nav u1 li a {
    color: brown;
    text-decoration: none;
    transition: 0.7s;
}
nav u1 li a:hover {
    padding:15px;
    background-color: aqua;
    color: peru;
}
header{
    background-color: plum;
    padding:  20px 0;
}
.profile {
    display: flex;
    align-items: center;
    }
    .profile-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 5px solid wheat;
        margin-right: 20px;
    }
    .profile-info {
        flex:1;
    }
    main {
         padding: 20px 0;
    }
    section {
         margin-bottom: 40px;
    }
    section h2 {
         color:royalblue;
    }
    #contact {
        background-color: brown;
        padding: 40px 0;
        text-align: center;
    }
    .contact-head {
        margin-bottom:20px;
    }
    .contact-info {
        color: blue;
    }
    .contact-info p {
        margin-bottom: 0;
    }
    .contact-info u1 {
        list-style-type: none;
        padding: 0;
    }
    .contact-info u1 li {
        display: inline;
        margin:0 10px;
    }
    .insta {
        width: 70px;
        height: 70px;
        border-radius: 25%;
    }
    .insta:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    .snap {
        width: 70px;
        height: 70px;
        border-radius: 25%;
    }
    .snao:hover {
        opacity: 0.7;
        cursor:pointer;
    }